.contact-form {
  //   background: rgb(246, 246, 246);
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
    h3 {
      font-weight: 500;
      font-size: 2.4em;
      color: black;
    }
  }
  &__container {
    display: flex;
    background: rgb(246, 246, 246);
    border-radius: 5px;
    height: auto;
    justify-content: center;
    align-items: center;
    // max-width: 700px;
    width: 100%;
    padding: 25px 50px;
  }
  &__user-details {
    margin: 20px 0 12px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
      letter-spacing: 0.5px;
      color: #666666;
    }
  }
  &__user-details &__input-box input:focus,
  &__user-details &__input-box input:valid {
    border-color: #a95e31;
    // border-color: #9b59b6;
  }
  &__input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    input {
      height: 45px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 1em;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
  &__input-message {
    // margin: 20px 0 12px 0;
    margin-bottom: 15px;
    width: 100%;
    input {
      height: 45px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 1em;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
    }
  }
  &__user-details &__input-message input:focus {
    border-color: #a95e31;
    // border-color: #9b59b6;
  }
  &__input-textarea {
    margin-bottom: 15px;
    // margin: 20px 0 12px 0;
    width: 100%;
    textarea {
      height: 6em;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 1em;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
    }
  }
  &__user-details &__input-textarea textarea:focus {
    border-color: #a95e31;
    // border-color: #8d25b7;
  }
  &__submit-btn {
    height: 45px;
    margin: 45px 0;
  }
  &__submit-btn {
    input {
      cursor: pointer;
      height: 100%;
      width: 100%;
      outline: none;
      color: #fff;
      border: none;
      font-size: 1.2em;
      font-weight: 500;
      border-radius: 5px;
      letter-spacing: 1px;
      background: #a95e31;
    }
  }
  &__submit-btn input:hover {
    background: #9b5427;
  }

  @media (max-width: 584px) {
    &__container {
      max-width: 100%;
    }
    &__user-details &__input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
