.top-header {
  //   padding: 1.5em;
  width: 100%;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-around;

  &__logo {
    // background-image: url('/img/logo2.png');
    // background-size: 100%;
    // background-position: center;
    // display: inline-block;
    padding: 2em 1.5em;
  }
  &__logo-text {
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    // top: 4em;
    // padding-top: 4em;
  }
  &__logo-text:hover {
    color: white;
    // opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: all 0.3s ease-in-out;
  }
  &__menu-btn {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 2em;
    padding: 30px 35px;
    display: none;
  }
  // &__nav {
  //   background: rgba(0, 0, 0, 0);
  //   color: white;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 15px 50px;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   z-index: 10;
  //   transition: background 0.3s ease-in-out;
  // }
  &__navlist {
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // justify-content: space-between;
  }
  &__nav-li {
    display: inline-block;

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 2.6em 2em;
      text-transform: uppercase;
    }
    a:hover {
      // opacity: 0.7;
      transition: all 0.3s ease-in-out;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
  .active {
    // text-decoration: underline;
    // text-decoration-thickness: 3px;
  }
  .active:hover {
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .top-header__navlist {
    // background: red;
    // color: white;
    // display: block;
    // justify-content: space-between;
    // align-items: center;
    // padding: 15px 50px;
    // position: absolute;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // width: 50vw;
    // z-index: 101;
    transition: background 0.3s ease-in-out;
  }
  .top-header__menu-btn {
    display: block;
  }
  .top-header__navlist {
    display: none;
  }
  .top-header--menu-open {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    width: 50vw;
    z-index: 101;
    transition: background 0.3s ease-in-out;
  }
  .top-header__nav-li {
    display: flex;

    a {
      padding: 2.2em 2em;
      font-size: 1.2em;
    }
    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      transition: all 0.3s ease-in-out;
      color: unset;
      opacity: 1 !important;
    }
  }
}
