.accordion {
  //   background: #e8e8e8e8;
  //   height: auto;
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 0 0 20px 20px #e8e8e8;
  //   box-shadow: 0 0 20px 20px rgb(247, 247, 249);
  //   position: absolute;
  padding: 40px 80px;
  margin: 0 180px;
  z-index: 5;
  //   height: 500px;
  //   width: fit-content;
  //   font-size: 1.2em;
  // h2 {
  //   font-size: 1.4em !important;
  // }
  button {
    font-size: 1.4em;
  }
}
// .accordion-header {
//   font-size: 1.4em !important;
// }
.accordion-item {
  background: #fff;
  padding: 25px 25px 25px 25px;
  transition: 0.4s;
  //   transition: all 1s ease-in-out;
}
.accordion-title {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 800px;
  font-size: 1.4em;
  transition: 0.3s transform ease-in-out;
}
.accordion-switch {
  color: rgb(123, 60, 235);
}
.accordion-content {
  color: #797979;
  font-weight: 300;
  letter-spacing: 1px;
  width: 800px;
  padding: 20px 0 0 0;
  line-height: normal;
  overflow: hidden;
  //   max-height: 6em;
  //   transition: max-height 0.2s ease-out;
}

.accordion-button:not(.collapsed) {
  background-color: #e8e8e8;
  // color: rgb(123, 60, 235);
  // color: rgb(179, 74, 245);
  // color: #123261;
  color: #000080;
}
.accordion-body {
  color: #666666;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.1em;
  // letter-spacing: 1px;
}
