.connect-content {
  &__header-bg-img {
    background-image: url('/img/connectSample.jpg');
    background-position: center;
    background-size: 100% 100%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    // filter: blur(4px);
    // -webkit-filter: blur(8px);
    height: 350px;
    position: relative;
    .cover-overlay {
      background-color: rgba(0, 0, 0, 0.3);
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 99;
    }
  }
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 1.2em;
    h1 {
      font-size: 3em;
      color: black;
    }
  }
}
