.connect-content {
  //   padding: 0 60px 30px;
  height: 100%;
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
      font-size: 3em;
      color: #c29257;
    }
  }
  &__contact-form {
    padding: 0 180px;
  }
  .contact-form__page-title {
    display: none;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    &__page-title {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    &__contact-form {
      padding: 40px 0 60px 0;
    }
  }
  @media (min-width: 1025px) {
    &__contact-form {
      padding-bottom: 80px;
    }
  }
}
