.faq-content {
  height: 100%;
  padding: 0 180px;
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
      font-size: 3em;
      color: #c29257;
    }
  }
  &__question-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 4em;
    span {
      font-weight: 500;
      font-size: 18px;
    }
    p {
      color: #666666;

      font-weight: 300;
      letter-spacing: 1px;
    }
  }
  &__question-block {
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 10px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .faq-content {
    padding: 0 8%;
  }
  .faq-content__page-title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
