.mid-intro-blurb {
  padding: 80px 180px;
  text-align: center;
  .blurb-with-img {
    // position: relative;
    .round-portrait {
      //   height: auto;
      //   width: fit-content;
      //   padding-top: 2em;
      &__img {
        border: 5px solid black !important;
        border-radius: 50%;
      }
    }
    .blurb-body {
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      h2 {
        font-size: 2.5em;
        font-weight: 400;
        padding-bottom: 20px;
      }
      p {
        color: #797979;
        font-weight: 300;
      }
      .small-blurb {
        color: #797979;
        line-height: 1.6;
      }
      .blurb-btn {
        background: transparent;
        border: 2px solid black;
        // border-radius: 5px;
        // display: inline-block;
        margin: 0 auto;
        width: fit-content;
        padding: 10px 20px;
        a {
          text-decoration: none;
          color: black;
          text-transform: capitalize;
          font-size: 1.3em;
          //   transition: 0.6;
        }
      }
      .blurb-btn:hover {
        background: black;
        transition: all 0.4s ease-in-out;
        a {
          color: #fff;
        }
      }
    }
  }
}

.quote-parent {
  padding: 100px 180px;
  background: rgb(246, 246, 246);
  //   gap: 20px;
  h4 {
    font-size: 1.6em;
    text-align: center;
    font-style: italic;
    font-weight: 500;
  }
  p {
    display: block;
    float: right;
    padding: 10px;
    font-size: 1.6em;
  }
}

.info-block {
  text-align: center;
  padding-top: 80px;
  &__sm-body {
    padding: 0 180px;
    h3 {
      font-size: 2.4em;
      font-weight: 500;
      //   color: #c19a6b;
    }
    p {
      padding: 20px;
      line-height: 1.6;
    }
  }
  &__widgets {
    margin-top: 20px;
    height: auto;
    width: 100%;
  }
}

.contact-block {
  height: auto;
  padding: 60px 180px;
  //   background: rgb(220, 220, 220);
}

@media (min-width: 320px) and (max-width: 480px) {
  .mid-intro-blurb {
    padding: 60px 30px;
  }
  .blurb-body .blurb-btn {
    // padding: 0;
    width: 100%;
  }
  .quote-parent {
    padding: 60px 30px;
    h4 {
      line-height: normal;
      font-size: 1.35em;
    }
  }
  .info-block__sm-body {
    padding: 0 !important;
  }
  // .contact-block {
  //   padding: 60px 0;
  // }
}
@media (min-width: 481px) and (max-width: 768px) {
  .mid-intro-blurb {
    padding: 60px 40px;
  }
  .quote-parent {
    padding: 60px 30px;
    h4 {
      line-height: normal;
      font-size: 1.35em;
    }
  }
  .info-block__sm-body {
    padding: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contact-block {
    padding: 60px 0;
  }
}
