.resources-content {
  height: 100vh;
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    // padding-bottom: 100px;
    h1 {
      font-size: 3em;
      color: #c29257;
    }
  }
  &__psychology-blocks {
    display: flex;
    padding: 100px 20px;
    justify-content: space-around;
  }
  &__info-block {
    // background: #c29257;
    // background: rgba(191, 153, 114, 0.4);
    // background: rgba(18, 50, 97, 0.1);
    // padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    h5 {
      font-size: 1.6em;
    }
    p {
      color: #797979;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: normal;
    }
  }
  //   &__image {
  //     height: 100px;
  //     width: 100px;
  //   }
  @media (min-width: 992px) {
    &__info-block {
      width: 25%;
    }
  }
}
