.specialties-content {
  height: 100%;
  //   position: relative;
  //   padding: 0 180px;
  &__page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
      font-size: 3em;
      color: #c29257;
    }
  }
  &__accordion-container {
    // width: 100%;
    // padding: 0 180px;
    // position: relative;
    // height: auto;
    // z-index: 5;
    // display: flex;
    // justify-content: center;
    padding-bottom: 100px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .specialties-content__page-title {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .specialties-content__accordion-container {
    padding-bottom: 50px;
  }
}
